<a href="https://colab.research.google.com/github/wogmd1017/class2024/blob/main/1%ED%95%99%EA%B8%B0_%EB%AC%B8%EC%A0%9C_%ED%92%80%EC%9D%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.문자열 1번<p>
파이썬에서 특정한 문자열을 출력할 때<p>
print("문자열") 혹은<p>
print('문자열') 을 기본으로 합니다.

In [7]:
print("Hello Class")

Hello Class

In [8]:
print('Hello Class')

Hello Class

1. 문자열 2번<p>
print("문장1 문장2") 도 가능하지만<p>
print("문장1","문장2") 도 가능합니다.

In [5]:
print("Happy Class")

Happy Class

In [6]:
print("Happy","Class")

Happy Class

1. 문자열 3번<p>
두 줄에 걸쳐 줄을 바꿔 출력할 경우 print를 두 번 사용하고 엔터를 이용해서 두 줄에 걸쳐 씁니다.<p>
print("Hello")<p>
print("World")<p>
파이썬은 코딩할 때 들여쓰기와 줄바꿔쓰기에 의미가 있으므로 조심해서 써야합니다.

In [3]:
print("Happy")
print("Class")

Happy
Class

1. 문자열 4번<p>
특수 문자도 문자열이므로 문자열과 동일하게 따옴표 안에 쓰면 됩니다.

In [ ]:
print('!!@^_^@!!')

1. 문자열 5번<p>
파이썬에서 따옴표 또한 문법의 일부이므로 조심해서 써야합니다.<p>
큰 따옴표와 작은 따옴표 2개가 만나면 그 사이를 문자열로 인식하므로 조심해야 합니다.<p>
큰따옴표가 들어간 문장을 출력하려면 작은따옴표로 묶어 표현하면 됩니다.<p>
반대로 작은따옴표가 들어간 문장을 출력하려면 큰따옴표로 묶어 표현하면 됩니다.<p>

In [9]:
print('"Happy Class"')

"Happy Class"

아래 코드도 실행해 봅시다.

In [ ]:
print(""Hello")

In [ ]:
print(""Hello"")

In [ ]:
print("""")

In [ ]:
print("","")

In [ ]:
print("''")
print('""')

1. 문자열 6번<p>
큰따옴표가 들어간 문장을 출력하려면 작은따옴표로 묶어 표현하면 됩니다.<p>
반대로 작은따옴표가 들어간 문장을 출력하려면 큰따옴표로 묶어 표현하면 됩니다.<p>

In [16]:
print("'Happy Class !!@.@!!'")

'Happy Class !!@.@!!'

1. 문자열 7번<p>
출력 예시를 잘 확인하고 문제를 풉니다.

In [18]:
print('print("Happy Class")')

print("Happy Class")

2. 변수 1번<p>
변수는 대입연산자 = 왼쪽에 변수 이름<p>
오른쪽에 저장할 값을 적습니다.<p>
변수명=저장할 값

In [19]:
a=2020
print(a)

2020

2. 변수 2번<p>
저장할 값이 숫자거나 문자열이거나 방법을 똑같습니다.<p>
문자열은 반드시 양끝에 따옴표가 와야 합니다.

In [20]:
a='Happy'
print(a)

Happy

2. 변수 3번<p>
저장할 값에 숫자, 문자열이 올 수 있지만 변수명이 올 수도 있습니다.<p>
이 때 오른쪽의 변수명에 저장된 값을 왼쪽의 변수에 저장하라는 뜻입니다.

In [ ]:
a='Happy'
b=a
print(a)
print(b)

3. 입력문 1번<p>
입력문은 반드시 변수와 함께 사용해야 합니다.<p>
변수에 입력받은 값을 저장하는 식으로 사용하며 출력을 통해서 저장된 값을 확인합니다.<p>
a=input()<p>
과 같은 방식을 사용하며 input 뒤의 괄호에는 아무것도 넣지 않는 것을 기본으로 합니다.<p>
가능하다면 꼭 밑의 코드를 실행해서 직접 입력해보기 바랍니다.

In [ ]:
a=input()
print(a)

3. 입력문 2번<p>
입력은 숫자, 문자열 동일하게 사용됩니다.

In [ ]:
a=input()
print(a)

3. 입력문 3번<p>
여러 값을 입력할 때 기본은 input()을 줄을 바꿔 여러 번 하는 것입니다.<p>
a=input()<p>
b=input()

In [ ]:
a=input()
b=input()
print(a)
print(b)

3. 입력문 4번<p>
동일하게 줄을 바꿔 입력하는데 출력의 순서에 주의합니다.

In [ ]:
a=input()
b=input()
print(b)
print(a)

3. 입력문 5번<p>
줄을 바꾸지 않고 한 줄에 여러 변수에 값을 저장하려면<p>
입력받은 값을 쪼개야 합니다.<p>
a,b=input().split()<p>
split()의 괄호 속에는 쪼개는 기준이 들어가면 되고 비워두면 공백 기준입니다.

In [ ]:
a,b=input().split()
print(a)
print(b)

3. 입력문 6번<p>
공백 기준으로 한 줄에 입력받는 것은 동일하며 출력 방식에 주의하세요.

In [ ]:
a,b=input().split()
print(b,a)

3. 입력문 7번<p>
공백이 아닌 기준을 넣을 때는 문자열이기 때문에 기준 좌우에 따옴표를 씁니다.<p>
.split(':') 와 같이 사용합니다.

In [ ]:
h,m,s=input().split(':')
print(m)

3. 입력문 8번<p>
이번에는 한 줄에 여러 값을 출력할 때 값과 값 사이의 공백 대신 원하는 기호를 넣을 때 사용하는 방식입니다.<p>
print()의 괄호 맨 마지막에 ,sep='기호'<p>
와 같이 사용합니다.

In [ ]:
y,m,d=input().split('.')
print(d,m,y,sep='-')

4. 연산 1번<p>
문자열의 덧셈은 그냥 + 기호를 사용하면 됩니다.

In [ ]:
a=input()
b=input()
c=a+b
print(c)

4. 연산 2번<p>
input()으로 입력받은 값은 무.조.건. 문자열입니다.<p>
입력받아서 문자열이 된 숫자를 다시 숫자로 바꾸어 주는 명령이<p>
int()와 float()입니다.<p>
int()는 정수로 변환해주고 float()는 실수로 변환해줍니다.<p>
이해하기 쉽게 정수는 소수점이 없는 수이고 실수는 소수점이 있는 수입니다.

In [ ]:
a,b=input().split()
c=int(a)+int(b)
print(c)

4. 연산 3번<p>
정수는 소수점이 없는 수이며 int()로 변환하고<p>
실수는 소수점이 있는 수이며 float()로 변환합니다.

In [ ]:
a,b=input().split()
a=float(a)
b=float(b)
print(a+b)

4. 연산 4번<p>
입력->변수 대입->숫자 변환->연산->출력<p>
의 흐름대로 코드를 작성합니다.<p>
부호 바꾸기는 값 앞에 - 를 붙입니다.<p>

In [ ]:
a=input()
a=int(a)
print(-a)

4. 연산 5번<p>
두 수의 차는 값-값 입니다.

In [ ]:
a,b=input().split()
print(int(a)-int(b))

4. 연산 6번<p>
두 수의 곱은 값*값 입니다.

In [ ]:
a=input()
b=input()
a=float(a)
b=float(b)
print(a*b)

4.연산 7번<p>
나누기 관련 연산자는 3개 있습니다.<p>
몫 : //<p>
나머지 : %<p>
나눗셈 : /<p>
이며 정수 끼리의 몫과 나머지는 정수가 나오며<p>
파이썬에서 나눗셈은 무.조.건. 실수(소수점이 있는 숫자)입니다.

In [ ]:
a,b=input().split()
a=int(a)
b=int(b)
print(a//b)

4. 연산 8번<p>
나머지는 %로 계산합니다.

In [ ]:
a,b=input().split()
print(int(a)%int(b))

4. 연산 9번<p>
소수점이 나오는 연산에는 거의 필수적으로 반올림을 사용합니다.<p>
나눗셈(/)은 반.드.시. 결과가 소수점이 나오므로 반올림을 무.조.건. 한다고 생각하면 편합니다.<p>
반올림하는 명령은<p>
rount()로 반올림하는 값, 반올림하는 자릿수 정보 가 필요합니다.<p>
자세한 설명은 동영상을 참고하세요.

In [ ]:
a=input()
a=float(a)
print(round(a,2))

4. 연산 10번<p>
나눗셈은 값/값이고 무.조.건. 반올림을 하세요.

In [ ]:
a=input()
b=input()
a=int(a)
b=int(b)
print(round(a/b,3))

4. 연산 11번<p>
지금까지 배운 연산자를 다 사용하는 문제입니다.

In [ ]:
a,b=input().split()
a=int(a)
b=int(b)
print(a+b)
print(a-b)
print(a*b)
print(a//b)
print(a%b)
print(round(a/b,2))

4. 연산 12번<p>
세 정수 a,b,c의 평균은<p>
(a+b+c)/3<p>
입니다.

In [ ]:
a,b,c=input().split()
a=int(a)
b=int(b)
c=int(c)
print(a+b+c,round((a+b+c)/3,2))

이 문제의 코드를 조금 더 깔끔하게 작성하면

In [ ]:
a,b,c=input().split()
a=int(a)
b=int(b)
c=int(c)
s=a+b+c
print(s,round(s/3,2))

4. 연산 13번<p>
문자열의 곱셈은<p>
"문자열"&#42;자연수<p>
혹은 자연수&#42;"문자열" 입니다.

In [ ]:
a,b=input().split()
a=int(a)
print(a*b)